<ul class="list-links">
    <li class="list-item">
        <a href="http://www.instagram.com/kihap_ma/" target="_blank" class="list-item-link">
            <i class="fa fa-instagram"></i>
            <span class="list-item-text">Instagram</span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>