<!doctype html>
<html lang="en">
<head>
       <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135699019-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-135699019-1');
        </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ki-Hap</title>
    <meta name="description" content="Ki-Hap Martial Arts Power. Energy. Harmony." />
    {{> partials/metadata-icons}}
</head>
<body>
    <div class="p-full-centered js-setviewportsize"></div>
    <div id="particles-js" class="p-full-centered js-setviewportsize"></div>
    <div class="p-full-centered js-setviewportsize">
        <div class="cmp-profile-header">
            <img align="left" class="profile-picture" src="./assets/logo.png"/>
        </div>
            <div class="cmp-info-container p-class-centered">
                <h1 class="site-text-h1">Power - Energy - Harmony
                    <br>#likeyoumeanit</h1>
            </div>
         
         {{> partials/list-links}}

        <p>&copy;  Ki-Hap 2019</p>
    </div>
</body>
</html>
